// GET API REQUEST
async function get_visitors() {
    try {
        let response = await fetch('${api_invoke_url}', {
            method: 'GET',
        });
        let data = await response.json()
        document.getElementById("visitors").innerHTML = data['curvisits'];
        console.log(data);
        return data;
    } catch (err) {
        console.error(err);
    }
}

get_visitors();
